doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title The Books of Gates
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', type='text/css', href='/stylesheets/bulma.css')
    link(rel="stylesheet", type='text/css', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

  section.hero1.is-light.is-large#gates
    .hero-head
      header.nav
        .container
          .nav-left
            figure.image#gatesLogo
              img(src='/images/logo3.png' alt='Gates logo')
        //a.button.loginButton Login
  .tabs.is-centered.is-medium
    ul(style="z-index:0")
        li.is-active
          a('href'="/") Home
        if u
          li
            a('href'="/books/new") New
        if !u      
          li
            a('href'="/admin/login") Login
        if u
          li
            a('href'="/admin/logout") Logout
            
  body
  block content
  
  // Footer
  .hero-foot
    section.hero.is-small.foot
      .hero-body
        .container.footContainer
          .columns
            .column.is-6(align="center").content.is-margin
              h3.title A Message from Bill
              hr
              h5.subtitle I feel very lucky to get to connect with so many extraordinary people. Whenever I have the chance, I set aside a few minutes to share what I’m learning here in The Book of Gates. Thanks for reading.
              br
              p The books of Gates 2017. All rights reserved.
              br
              p TEAM16


  // Scripts
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/materialize.min.js')
  script(type='text/javascript', src='/js/jquery.priceformat.min.js')
  script(type='text/javascript'  data-pace-options='{elements: [.section],restartOnPushState: true}', src='/js/pace.min.js')
  script(type='text/javascript',src='/js/script.js')
  script(type='text/javascript',src='/js/photo.js')
  script(type='text/javascript',src='/js/edit.js')
  script(type='text/javascript',src='/js/preview.js')
  script(type='text/javascript',src='/js/register.js')
