extends layout

block content
	.loginBody
	.grad
	.container.loginCon
		.columns.is-vcentered
			.column.is-4.is-offset-4.content            
				.box
					h1.title(text-align="center") Login
					hr
					label.label Email
					|               
					p.control
						input.input#email(type='email', placeholder='jsmith@example.org', name='email')
					|               
					label.label Password
					|               
					p.control
						input.input#pass(type='password', placeholder='●●●●●●●', name='password')
					|               
					hr
					|               
					p.control
						button.button.is-primary#login Login
						|                 
						button.button.is-default Cancel
				|             

