extends layout

block content
	section.hero.is-fullheight.loginBody
		.hero-body
			.container.loginCon
				.columns.is-vcentered
					.column.is-4.is-offset-4.content            
						.box.boxColor
							h1.title Login
							hr
							label.label.is-white Email
							|               
							p.control
								input.input#email(type='text', placeholder='jsmith@example.org' value="admin@admin.com" disabled)
							|               
							label.label.is-white Password
							|               
							p.control
								input.input#pass(type='password', placeholder='???????', value="admin" disabled)
							|               
							hr
							|               
							p.control
								button.button.is-primary#login Login
								|                 
								button.button.is-default Cancel
						|             

