extends layout

block content
	section
		.hero-body
			form#myForm(method='post' enctype='multipart/form-data' action='/books/new#{token}')
				.container
					.columns.viewBook
						.column.is-
							.container
								.photo_submit-container
									.photo_submit-container
										label.photo_submit.js-photo_submit1
											input.photo_submit-input.js-photo_submit-input#bookImg(type='file', accept='image/*' name='myImage')
											|             
											span.photo_submit-plus
											|             
											span.photo_submit-uploadLabel Upload photo
											|             
											span.photo_submit-delete

						.column.is-8        
							.box
								p.control
									input.input(type='text', placeholder='Book Title' name='title')
								|               
								p.control
									input.input(type='text', placeholder='Author' name='author')
								|                
								p.control
									input.input(type='text', placeholder='Year Published' name='published')
								| 
								p.control
									input.input(type='text', placeholder='Amazon Link' name='link')
								| 
								p.control
									input.input(type='text', placeholder='Kindle Price' name='price')
								|  
								hr
								p.control
									textarea.textarea.is-hovered(placeholder='Book Description' name='description')
								|               
								hr
								|               
								p.control
									button.button.is-primary#submitButton Button Save 
									|  &nbsp; &nbsp; &nbsp;
									|                         
									button.button.is-default Cancel
						