<section id="gates" class="hero1 is-light is-large">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <figure id="gatesLogo" class="image"><img src="/images/logo3.png" alt="Gates logo"/></figure>
        </div>
      </div>
      <!--a.button.loginButton Login-->
    </header>
  </div>
</section>
<div class="tabs is-centered is-medium">
  <ul style="z-index:0">
    <li class="is-active"><a href="/">Home</a></li>
    <li><a href="/admin/login">Login</a></li>
  </ul>
</div>
<div class="section">
  <div class="columns">
    <div class="column is-two-thirds center">
      <div class="content">
        <h4 align="justify">
          "Never before have I felt so empowered to learn as I do today. When I was young, there were few options to learn on my own. My parents had a set of World Book Encyclopedias, which I read through in alphabetical order. But there were no online courses, video lectures, or podcasts to
          introduce me to new ideas and thinkers as we have today. Still, reading books is my favorite way to learn about a new topic. I’ve been reading about a book a week on average since I was a kid. Even when my schedule is out of control, I carve out a lot of time for reading. If you’re
          looking for a book to enjoy over the holidays, here are some of my favorites from this year. They cover an eclectic mix of topics—from tennis to tennis shoes, genomics to great leadership. They’re all very well written, and they all dropped me down a rabbit hole of unexpected
          insights and pleasures."
        </h4>
      </div>
    </div>
  </div>
</div>