<section id="gates" class="hero1 is-light is-large">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <figure id="gatesLogo" class="image"><img src="/images/logo3.png" alt="Gates logo"/></figure>
        </div>
      </div>
      <!--a.button.loginButton Login-->
    </header>
  </div>
</section>
<div class="tabs is-centered is-medium">
  <ul style="z-index:0">
    <li class="is-active"><a [routerLink]="['/']">Home</a></li>
    <li><a href="/admin/login">Login</a></li>
  </ul>
</div>
